<div class="district-details__eyebrow">
  <a class="district-details__eyebrow-link">
  <img class="gothamist-logo-mini" alt="Gothamist."
  src="{{assetPath}}i/gothamist_logo.png" width=29 height=29
  srcset="{{assetPath}}i/gothamist_logo.png 1x,
          {{assetPath}}i/gothamist_logo@2x.png 2x,
          {{assetPath}}i/gothamist_logo@3x.png 3x">
          Does Your Block Vote?
  </a>
</div>

<h1 class="district-map-title">Election District #<span class="election-district">{{elect_dist}}</span></h1>

<div class="district-ranking__scores">
  <div class="district-ranking__grade">
    <span class="district-ranking__your-rank">Your Grade:</span> <span class="district-ranking__letter" id="grade">{{grade}}</span>
  </div>
  <div class="district-ranking__emoji" id="emoji">{{{emoji}}}</div>
</div>

<div class="map-wrapper">
  <svg class="map" id="map"></svg>

  <img src="{{assetPath}}i/legend.png" class="map-legend" />
</div>

<div class="district-details"></div>
