<div class="district-details__eyebrow">
  <a class="district-details__eyebrow-link">
  <img class="gothamist-logo-mini" alt="Gothamist."
  src="{{assetPath}}/i/gothamist_logo.png" width=29 height=29
  srcset="{{assetPath}}/i/gothamist_logo.png 1x,
          {{assetPath}}/i/gothamist_logo@2x.png 2x,
          {{assetPath}}/i/gothamist_logo@3x.png 3x">
          Does Your Block Vote?
  </a>
</div>
<h1>District #<span class="election-district">{{elect_dist}}</span></h1>

<svg class="map"></svg>

<div class="district-details"></div>
