<img class="gothamist-logo" alt="Gothamist."
src="{{assetPath}}i/gothamist_logo@2x.png" width=68 height=68
srcset="{{assetPath}}i/gothamist_logo.png 1x,
        {{assetPath}}i/gothamist_logo@2x.png 2x,
        {{assetPath}}i/gothamist_logo@3x.png 3x">
<div class="address-form">
  <h1 class="address-form__heading">Does your Block Vote?</h1>
  <p class="subheading address-form__subheading">Voter turnout varies dramatically from one block to another in New York City. Find out if your neighbors vote -- and how to get them to the polls if they don't.</p>
  <form class="address-form__form">
    <label class="address-form__label" for="address-form__input">Enter your address below</label>
    <div class="address-form__input-wrapper">
      <input id="address-form__input" class="address-form__input" placeholder="123 Broadway, New York, NY">
      <button type="submit" id="address-form__button" class="address-form__button"><img class="address-form__button-image" alt="Submit."
  src="{{assetPath}}i/arrow_right@2x.png" width=23 height=16
  srcset="{{assetPath}}i/arrow_right.png 1x,
          {{assetPath}}i/arrow_right@2x.png 2x,
          {{assetPath}}i/arrow_right@3x.png 3x"></button>
    </div>
    <div class="address-form__errors"></div>
    <div class="address-form__multiples"></div>
  </form>
</div>
